* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background-color:  rgb(30, 30, 80);
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    padding: 20px;
    background-color:  rgb(30, 30, 80);
    border: 7px solid: rgb(120, 190, 39);
    text-align: center;
    color: #f00;
    position: relative;
}

.logo img {
    width: 80px;
    margin-bottom: 10px;
}

.title {
    font-size: 24px;
    color: rgb(34, 172, 119);
    margin-bottom: 20px;
}

.section {
    margin: 0px 0;
}

.section h2 {
    font-size: 16px;
    color:rgb(34, 172, 119);
    margin-bottom: 5px;
}

.section p {
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
}

.substitutes h2 {
    color:rgb(34, 172, 119);
}

.kit {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.kit img {
    width: 100px;
}
